@font-face {
  font-family: "GangOfThree";
  src: url("assets/fonts/GangOfThree.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}

#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: GangOfThree;
  color: cyan;
  z-index: 5;
}

#score {
  font-size: 40px;
}

#lives {
  font-size: 32px;
  margin-top: 10px;
  color: red;
}

/* START SCREEN */
#startScreen {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: GangOfThree;
  color: cyan;
  z-index: 10;
}

#startScreen .title {
  font-size: 64px;
  margin-bottom: 40px;
  text-align: center;
}

#startScreen button {
  font-size: 32px;
  padding: 15px 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* GAME OVER */
#gameOver {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: GangOfThree;
  color: cyan;
  z-index: 10;
}

#gameOver .text {
  font-size: 64px;
  margin-bottom: 30px;
}

#gameOver button {
  font-size: 32px;
  padding: 15px 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
