@font-face {
  font-family: "GangOfThree";
  src: url("assets/fonts/GangOfThree.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(#111, #000);
  font-family: "GangOfThree", sans-serif;
  touch-action: none;
}

canvas {
  display: block;
}
